# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [8]:
# import libraries
import pandas as pd
import numpy as np

In [9]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [12]:
#function to read csv from categories.csv inorder to clean data  : 
def read_categories(path_csv='categories.csv'):
    #helper function to manage column list 
    def column_update(l,entry) :
        if entry in l:
            pass
        else:
            l.append(entry)
    #reading the given file 
    fp= open(path_csv,'r')
    columns=[] # list to store the column data
    while(True):
        a=fp.readline()
        if a =='':
            print(columns)
            break
            fp.close()
            yield None
        else:
            a=a.replace('\n','')
            items=a.split(',')
            result=[]
            for item in items:
                splits=item.split(';')
                if item=='categories' :
                    continue
                if item=='id':
                    column_update(columns,item)
                    continue
                elif len(splits) >2 : 
                    for vals in splits:
                        tmp=vals.split('-')
                        column_update(columns,tmp[0])
                        result.append(int(tmp[-1]))
                else:
                    result.append(int(splits[0]))
            if len(result)>=1:
                yield result
            else:
                continue

In [11]:
a=read_categories()
#printing columns for dataframe 
while(next(a)):
    continue

['id', 'related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [13]:
#storing columns data 
columns=['id', 'related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [14]:
# load categories dataset
categories = pd.DataFrame(read_categories(), columns=columns)
categories['id']=categories['id'].apply(lambda x : int(x)) # it will help to merge with the id column in messages dataframe
categories.head()

['id', 'related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,1,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
print(len(messages))
print(len(categories))

26248
26248

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [16]:
messages=messages[~messages.duplicated()]
categories=categories[~categories.duplicated()]

In [17]:
print(len(messages))
print(len(categories))

26180
26216

In [18]:
set(messages['id'])-set(categories['id'])

set()

In [19]:
set(categories['id'])-set(messages['id'])

set()

In [20]:
categories.isna().any().any()

False

In [21]:
messages.isna().any()

id          False
message     False
original     True
genre       False
dtype: bool

In [22]:
for i in categories[categories['id'].duplicated()]['id']:
    print(categories[categories['id']==i])

      id  related  request  offer  aid_related  medical_help  \
162  202        1        1      0            1             0
163  202        1        1      0            1             0

     medical_products  search_and_rescue  security  military      ...        \
162                 0                  0         0         0      ...
163                 0                  0         0         0      ...

     aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
162            0                     0                0       0      0     0
163            0                     0                0       0      0     0

     earthquake  cold  other_weather  direct_report
162           0     0              0              0
163           0     0              0              0

[2 rows x 37 columns]
      id  related  request  offer  aid_related  medical_help  \
709  862        0        0      0            0             0
710  862        1        0      0            0             0

     medical_products  search_and_rescue  security  military      ...        \
709                 0                  0         0         0      ...
710                 0                  0         0         0      ...

     aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
709            0                     0                0       0      0     0
710            0                     0                0       0      0     0

     earthquake  cold  other_weather  direct_report
709           0     0              0              0
710           0     0              0              0

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
1407  1652        1        1      0            1             0
1408  1652        1        1      0            1             0

      medical_products  search_and_rescue  security  military      ...        \
1407                 0                  1         0         0      ...
1408                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
1407            0                     0                0       0      0     0
1408            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
1407           0     0              0              1
1408           0     0              0              1

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
2824  3250        1        0      0            0             0
2825  3250        1        1      0            0             0

      medical_products  search_and_rescue  security  military      ...        \
2824                 0                  0         0         0      ...
2825                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
2824            0                     0                0       0      0     0
2825            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
2824           0     0              0              0
2825           0     0              0              1

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
3373  3882        1        1      0            1             0
3374  3882        1        1      0            1             1

      medical_products  search_and_rescue  security  military      ...        \
3373                 0                  0         0         0      ...
3374                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
3373            0                     0                0       0      0     0
3374            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
3373           0     0              0              1
3374           0     0              0              1

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
4340  4956        1        0      0            0             0
4341  4956        0        0      0            0             0

      medical_products  search_and_rescue  security  military      ...        \
4340                 0                  0         0         0      ...
4341                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
4340            0                     0                0       0      0     0
4341            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
4340           0     0              0              0
4341           0     0              0              0

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
4521  5153        1        0      0            1             0
4522  5153        1        0      0            1             0

      medical_products  search_and_rescue  security  military      ...        \
4521                 0                  0         0         0      ...
4522                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
4521            0                     0                0       0      0     0
4522            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
4521           0     0              0              0
4522           0     0              0              1

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
5071  5776        0        0      0            0             0
5072  5776        1        0      0            0             0

      medical_products  search_and_rescue  security  military      ...        \
5071                 0                  0         0         0      ...
5072                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
5071            0                     0                0       0      0     0
5072            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
5071           0     0              0              0
5072           0     0              0              0

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
5606  6393        1        0      0            0             0
5607  6393        0        0      0            0             0

      medical_products  search_and_rescue  security  military      ...        \
5606                 0                  0         0         0      ...
5607                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
5606            0                     0                0       0      0     0
5607            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
5606           0     0              0              0
5607           0     0              0              0

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
5696  6492        1        0      0            0             0
5697  6492        0        0      0            0             0

      medical_products  search_and_rescue  security  military      ...        \
5696                 0                  0         0         0      ...
5697                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
5696            0                     0                0       0      0     0
5697            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
5696           0     0              0              0
5697           0     0              0              0

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
5719  6515        1        0      0            0             0
5720  6515        1        1      0            0             0

      medical_products  search_and_rescue  security  military      ...        \
5719                 0                  0         0         0      ...
5720                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
5719            0                     0                0       0      0     0
5720            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
5719           0     0              0              0
5720           0     0              0              1

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
5877  6687        1        0      0            0             0
5878  6687        0        0      0            0             0

      medical_products  search_and_rescue  security  military      ...        \
5877                 0                  0         0         0      ...
5878                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
5877            0                     0                0       0      0     0
5878            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
5877           0     0              0              0
5878           0     0              0              0

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
6843  7747        1        0      0            0             0
6844  7747        0        0      0            0             0

      medical_products  search_and_rescue  security  military      ...        \
6843                 0                  0         0         0      ...
6844                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
6843            0                     0                0       0      0     0
6844            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
6843           0     0              0              0
6844           0     0              0              0

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
7036  7945        1        1      0            1             0
7037  7945        1        1      0            1             0

      medical_products  search_and_rescue  security  military      ...        \
7036                 0                  0         0         0      ...
7037                 0                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
7036            0                     1                1       0      0     0
7037            0                     0                1       0      0     0

      earthquake  cold  other_weather  direct_report
7036           1     0              0              1
7037           1     0              0              1

[2 rows x 37 columns]
        id  related  request  offer  aid_related  medical_help  \
7263  8190        1        1      0            0             0
7264  8190        1        1      0            1             1

      medical_products  search_and_rescue  security  military      ...        \
7263                 0                  0         0         0      ...
7264                 1                  0         0         0      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
7263            0                     0                0       0      0     0
7264            0                     0                0       0      0     0

      earthquake  cold  other_weather  direct_report
7263           0     0              0              1
7264           0     0              0              1

[2 rows x 37 columns]
         id  related  request  offer  aid_related  medical_help  \
9161  10286        1        1      0            1             0
9162  10286        1        1      0            1             0

      medical_products  search_and_rescue  security  military      ...        \
9161                 0                  0         0         0      ...
9162                 0                  0         0         1      ...

      aid_centers  other_infrastructure  weather_related  floods  storm  fire  \
9161            0                     0                1       0      1     0
9162            0                     0                1       0      1     0

      earthquake  cold  other_weather  direct_report
9161           0     0              0              1
9162           0     0              0              1

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
10101  11503        1        0      0            1             0
10102  11503        1        1      0            1             0

       medical_products  search_and_rescue  security  military      ...        \
10101                 0                  0         0         0      ...
10102                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
10101            0                     0                1       0      0
10102            0                     0                1       0      0

       fire  earthquake  cold  other_weather  direct_report
10101     0           1     0              0              0
10102     0           1     0              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
10821  12416        1        0      0            1             0
10822  12416        1        0      0            1             0

       medical_products  search_and_rescue  security  military      ...        \
10821                 0                  0         0         0      ...
10822                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
10821            0                     0                0       0      0
10822            0                     0                0       0      0

       fire  earthquake  cold  other_weather  direct_report
10821     0           0     0              0              0
10822     0           0     0              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
10826  12420        1        0      0            1             0
10827  12420        1        0      0            1             0

       medical_products  search_and_rescue  security  military      ...        \
10826                 0                  0         0         0      ...
10827                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
10826            0                     1                1       0      0
10827            0                     0                0       0      0

       fire  earthquake  cold  other_weather  direct_report
10826     0           0     0              1              0
10827     0           0     0              0              1

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
12051  13914        2        0      0            0             0
12052  13914        1        0      0            0             0

       medical_products  search_and_rescue  security  military      ...        \
12051                 0                  0         0         0      ...
12052                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
12051            0                     0                0       0      0
12052            0                     0                0       0      0

       fire  earthquake  cold  other_weather  direct_report
12051     0           0     0              0              0
12052     0           0     0              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
12162  14135        1        1      0            1             0
12163  14135        1        1      0            1             0

       medical_products  search_and_rescue  security  military      ...        \
12162                 0                  0         0         0      ...
12163                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
12162            0                     1                1       1      0
12163            0                     0                1       1      0

       fire  earthquake  cold  other_weather  direct_report
12162     0           0     0              0              1
12163     0           0     0              0              1

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
13205  15760        1        0      0            0             0
13206  15760        0        0      0            0             0

       medical_products  search_and_rescue  security  military      ...        \
13205                 0                  0         0         0      ...
13206                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
13205            0                     0                0       0      0
13206            0                     0                0       0      0

       fire  earthquake  cold  other_weather  direct_report
13205     0           0     0              0              0
13206     0           0     0              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
13644  16245        1        0      0            1             1
13645  16245        1        0      0            1             0

       medical_products  search_and_rescue  security  military      ...        \
13644                 0                  0         0         0      ...
13645                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
13644            0                     0                1       0      0
13645            0                     0                0       0      0

       fire  earthquake  cold  other_weather  direct_report
13644     0           0     0              1              0
13645     0           0     0              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
14685  17385        1        0      0            0             0
14686  17385        1        0      0            0             0

       medical_products  search_and_rescue  security  military      ...        \
14685                 0                  0         0         0      ...
14686                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
14685            0                     0                1       1      1
14686            0                     0                1       1      0


          id  related  request  offer  aid_related  medical_help  \
16280  19142        1        0      0            1             0
16281  19142        1        0      0            1             0

       medical_products  search_and_rescue  security  military      ...        \
16280                 0                  0         0         0      ...
16281                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
16280            0                     0                1       0      0
16281            0                     0                1       0      0

       fire  earthquake  cold  other_weather  direct_report
16280     0           0     1              0              0
16281     0           0     1              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
16768  19687        1        0      0            0             0
16769  19687        1        0      0            0             0

       medical_products  search_and_rescue  security  military      ...        \
16768                 0                  0         0         0      ...
16769                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
16768            0                     0                1       0      1
16769            0                     0                1       0      1

       fire  earthquake  cold  other_weather  direct_report
16768     0           0     0              0              1
16769     0           0     0              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
19624  22858        0        0      0            0             0
19625  22858        1        0      0            0             0

       medical_products  search_and_rescue  security  military      ...        \
19624                 0                  0         0         0      ...
19625                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
19624            0                     0                0       0      0
19625            0                     0                0       0      0

       fire  earthquake  cold  other_weather  direct_report
19624     0           0     0              0              0
19625     0           0     0              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
20875  24247        1        0      0            0             0
20876  24247        1        0      0            1             0

       medical_products  search_and_rescue  security  military      ...        \
20875                 0                  0         0         0      ...
20876                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
20875            0                     0                0       0      0
20876            0                     0                0       0      0

       fire  earthquake  cold  other_weather  direct_report
20875     0           0     0              0              1
20876     0           0     0              0              1

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
20965  24347        1        0      0            1             0
20966  24347        1        0      0            1             0

       medical_products  search_and_rescue  security  military      ...        \
20965                 0                  0         0         1      ...
20966                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
20965            0                     0                1       1      0
20966            0                     0                1       1      0

       fire  earthquake  cold  other_weather  direct_report
20965     0           0     0              0              0
20966     0           0     0              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
22027  25512        1        0      0            1             0
22028  25512        1        0      0            1             0

       medical_products  search_and_rescue  security  military      ...        \
22027                 0                  0         0         0      ...
22028                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
22027            0                     1                1       1      0
22028            0                     0                1       1      0

       fire  earthquake  cold  other_weather  direct_report
22027     0           0     0              0              0
22028     0           0     0              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
24039  27768        1        0      0            1             0
24040  27768        1        0      0            0             0

       medical_products  search_and_rescue  security  military      ...        \
24039                 0                  0         0         1      ...
24040                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
24039            0                     0                0       0      0
24040            0                     0                0       0      0

       fire  earthquake  cold  other_weather  direct_report
24039     0           0     0              0              0
24040     0           0     0              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
24647  28462        1        1      0            1             1
24648  28462        1        0      0            1             1

       medical_products  search_and_rescue  security  military      ...        \
24647                 0                  0         0         0      ...
24648                 0                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
24647            0                     0                0       0      0
24648            0                     0                0       0      0

       fire  earthquake  cold  other_weather  direct_report
24647     0           0     0              0              0
24648     0           0     0              0              0

[2 rows x 37 columns]
          id  related  request  offer  aid_related  medical_help  \
25155  29022        1        1      0            1             0
25156  29022        1        0      0            1             0

       medical_products  search_and_rescue  security  military      ...        \
25155                 1                  0         0         0      ...
25156                 1                  0         0         0      ...

       aid_centers  other_infrastructure  weather_related  floods  storm  \
25155            0                     0                0       0      0
25156            0                     0                0       0      0

       fire  earthquake  cold  other_weather  direct_report
25155     0           0     0              0              0
25156     0           0     0              0              0

[2 rows x 37 columns]

In [23]:
# merge datasets
df = messages.merge(categories ,on = 'id', how='left')
print(len(df))
df.head()

26216

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
cat_column=['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [39]:
def series_int(x):
    z=x.apply(lambda a : int(a))
    return z 
    
#categories[cat_column].apply(lambda x : series_int(x) ,axis=1)

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
7,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10,1,1,0,1,1,1,0,0,0,0,...,0,1,1,1,0,0,0,0,0,1
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
20,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,1,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
27,1,1,0,1,1,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
28,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26218,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26219,1,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26220,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26221,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26222,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26223,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26224,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26225,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26226,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,0,0,1,0
26227,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26228,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26229,1,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26230,1,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26231,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26233,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
26234,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26235,1,0,0,1,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
26236,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26237,1,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26238,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26239,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26240,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26242,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26243,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26244,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26245,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26246,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26247,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# create a dataframe of the 36 individual category columns
categories = 
categories.head()

In [ ]:
# select the first row of the categories dataframe
row = 

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = 
print(category_colnames)

In [56]:
# rename the columns of `categories`
#categories.columns = category_colnames
categories.head()

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,1,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [ ]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = 
    
    # convert column from string to numeric
    categories[column] = 
categories.head()

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [ ]:
# drop the original categories column from `df`


df.head()

In [ ]:
# concatenate the original dataframe with the new `categories` dataframe
df = 
df.head()

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [ ]:
# check number of duplicates

In [ ]:
# drop duplicates

In [ ]:
# check number of duplicates

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [57]:
from sqlalchemy import create_engine

In [58]:
engine = create_engine('sqlite:///TrialDatabaseName.db')
df.to_sql('messagelabel', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.

In [ ]:
#An example command to run etl process
#python process_data.py disaster_messages.csv disaster_categories.csv DisasterResponse.db

In [1]:
%%writefile etl_pipeline.py
import pandas as pd
import numpy as np
import sys
from sqlalchemy import create_engine


def get_file_names():
    '''Capture file name arguments passed to command line 
    and transfer to relevant functions as their required arguments'''
    files=list()
    for arg in sys.argv:
        files.append(arg)
    if len(files)!=4:
        raise ValueError("Provide three filenames to the pipeline\
        in sequence messages.csv,\
        categories.csv , databasse.db")
    if files[1].split('.')[-1]!='csv' :
        raise ValueError (f"Provide .CSV filename at {files[1]} ")
    if files[2].split('.')[-1]!='csv' :
        raise ValueError (f"Provide .CSV filename at {files[2]} ")
    if files[3].split('.')[-1]!='db' :
        raise ValueError (f"Provide .db extension at {files[3]} ")
    return files

#helper function to manage column list 
def column_update(l,entry) :
    if entry in l:
        pass
    else:
        l.append(entry)

columns=[] # list to store the column data

def read_categories(path_csv):
    '''This function is to read the categories'
    matrix-data from the categories.csv '''
    #reading the given file 
    fp= open(path_csv,'r')
    while(True):
        a=fp.readline()
        if a =='':
            fp.close()
            break
            yield None
        else:
            a=a.replace('\n','')
            items=a.split(',')
            result=[]
            for item in items:
                splits=item.split(';')
                if item=='categories' :
                    continue
                if item=='id':
                    column_update(columns,item)
                    continue
                elif len(splits) >2 : 
                    for vals in splits:
                        tmp=vals.split('-')
                        column_update(columns,tmp[0])
                        result.append(int(tmp[-1]))
                else:
                    result.append(int(splits[0]))
            if len(result)>=1:
                yield result
            else:
                continue

                
def create_merged_dataframe(csv_message,csv_categories):
    '''After extracting and cleaning the two csv file data,
    it creates single merged dataframe'''
    messages = pd.read_csv(csv_message)
    categories = pd.DataFrame(read_categories(csv_categories)
                              ,columns=columns)
    #removing duplicates
    messages=messages[~messages.duplicated()]
    categories=categories[~categories.duplicated()]
    df = messages.merge(categories, on = 'id', how='left')
    return df

def save_to_db(df,fileName, tableName):
    engine = create_engine(f'sqlite:///{fileName}')
    conn=engine.connect()
    engine.execute(f"DROP TABLE IF EXISTS {tableName}")
    df.to_sql(tableName, conn, index=False)
    return True

    
if __name__ =="__main__":
    _,messages,categories,db=get_file_names()
    df=create_merged_dataframe(messages,categories)
    tableName='categorizedMessages'
    a=save_to_db(df,db,tableName=tableName)
    if a : 
        print(f"Data has been saved into the {db} within \
the table '{tableName} '")

Overwriting etl_pipeline.py

In [2]:
#testing the file 
from etl_pipeline import get_file_names,read_categories,create_merged_dataframe,save_to_db

In [3]:
df=create_merged_dataframe('messages.csv','categories.csv')

In [4]:
save_to_db(df,'dataMessages.db',"categorizedMessages")

True

In [6]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine(f'sqlite:///dataMessages.db')
conn=engine.connect()
data=pd.read_sql('select * from categorizedMessages',engine)
conn.close()
data

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,14,Information about the National Palace-,Informtion au nivaux palais nationl,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,15,Storm at sacred heart of jesus,Cyclone Coeur sacr de jesus,direct,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
7,16,"Please, we need tents and water. We are in Sil...",Tanpri nou bezwen tant avek dlo nou zon silo m...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
8,17,"I would like to receive the messages, thank you",Mwen ta renmen jouin messag yo. Merci,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,18,I am in Croix-des-Bouquets. We have health iss...,"Nou kwadebouke, nou gen pwoblem sant m yo nan ...",direct,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
10,20,"There's nothing to eat and water, we starving ...",Bon repo pa gen anyen menm grangou swaf,direct,1,1,0,1,1,1,...,0,1,1,1,0,0,0,0,0,1
11,21,I am in Petionville. I need more information r...,M nan pv mvle plis enfomasyon sou 4636,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,22,"I am in Thomassin number 32, in the area named...",Mwen thomassin 32 nan pyron mwen ta renmen jwe...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
13,24,"Let's do it together, need food in Delma 75, i...",Ann fel ansanm bezwen manje nan delma 75 nan r...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
14,25,More information on the 4636 number in order f...,gen plis enfomasyon sou 4636 la pom w sim ap k...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,26,"A Comitee in Delmas 19, Rue ( street ) Janvier...",Komite katye delma 19 rue janvier imp charite ...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
16,27,We need food and water in Klecin 12. We are dy...,Nou bezwen mange avek dlo nan klcin 12 LA LAFI...,direct,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
17,28,are you going to call me or do you want me to ...,Eske se rele nap relem oubyen se mwen kap rele...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,30,I don't understand how to use this thing 4636.,Mwen pa konprann koman pou m itilize bagay 463...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,31,I would like to know if the earthquake is over...,Mwen ta remen connin si trenblem de terre afin...,direct,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
20,32,I would like to know if one of the radio ginen...,Mwen ta renmen konnen eske ge jounalis radyo g...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,33,"I'm in Laplaine, I am a victim",Mwen laplan mwen viktim kot yap bay d pou latr...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
22,34,"There's a lack of water in Moleya, please info...",Nan moleya pa gen dlo svp f konnen sa pou mwen.,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
23,35,Those people who live at Sibert need food they...,nou menm nan sibert nou grangou nou bezwen mange,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,36,"I want to say hello, my message is to let you ...",Mwen salye nou dab mesaj mwen an se jis nou ge...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,37,Can you tell me about this service,Can you tell me about this service,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,38,"People I'm at Delma 2, we don't anything what ...",MEZANMI MWEN MWEN NAN DELMA 2 NOU TR MAN MAL N...,direct,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
27,39,We are at Gressier we needs assistance right a...,Se gressier nou an difikilte tanpri vin ede nou,direct,1,1,0,1,1,0,...,0,0,1,1,0,0,0,0,0,1
28,41,How can we get water and food in Fontamara 43 ...,Comment nou ka jwen dlo ak manje nan font 43 c...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
29,42,We need help. Carrefour has been forgotten com...,Nap di secours yo bliye kafou net sant m ap to...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26186,30233,The ability to pick dengue from influenza is c...,None,news,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
26187,30234,A Federation chartered ship arrived from Lae w...,None,news,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
26188,30235,The result is that in Aceh province many prefa...,None,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26189,30236,"Otherwise, the risk is families fleeing again ...",None,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26190,30237,A United Nations team from the Electoral Assis...,None,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26191,30238,Senegal and Guinea-Bissau have agreed to condu...,None,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26192,30239,The President said that her Government always ...,None,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26193,30240,It was decided that all vehicle movement from ...,None,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26194,30241,The tendency to link deforestation with large ...,None,news,1,0,0,0,0,0,...,0,0,1,1,0,1,0,0,1,0
26195,30242,Polio is a viral disease that attacks the nerv...,None,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26196,30243,The new constitution declares that 'Somalia is...,None,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26197,30245,We're providing clean water to people who woul...,None,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
26198,30246,"Relief items include towels, sanitary napkins,...",None,news,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
26199,30247,In Aceh's Meulaboh town the UN refugee agency ...,None,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26200,30248,WHO is recruiting a sanitary engineer / consul...,None,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26201,30249,Following the severe floods which occurred ove...,None,news,1,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
26202,30250,The closure has stopped 169 inbound flights an...,None,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26203,30251,"BANGKOK, 24 January 2012 (NNT) - Prime Ministe...",None,news,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
26204,30253,"Cadmium, a metallic element widely used in bat...",None,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26205,30254,Epidemic surveillance: National Institute of C...,None,news,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
26206,30255,2.1 Due to sporadic skirmishes in eastern D.R....,None,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26207,30256,No other army had gone to greater lengths to a...,None,news,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26208,30257,The delivery was made in conjunction with the ...,None,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26209,30258,However while ECOWAS wanted him to lead a 12-m...,None,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26210,30259,"Hpakant, an area rich with coveted jade stones...",None,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26211,30261,The training demonstrated how to enhance micro...,None,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26212,30262,A suitable candidate has been selected and OCH...,None,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26213,30263,"Proshika, operating in Cox's Bazar municipalit...",None,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26214,30264,"Some 2,000 women protesting against the conduc...",None,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26215,30265,A radical shift in thinking came about as a re...,None,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
!python etl_pipeline.py messages.csv categories.csv LabelledMessages.db

Data has been saved into the dataMessages.db within the table 'categorizedMessage '